@media (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }


    .section-2 .cover{
        background-position: -23vmin -7vmin;
    }

    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }
    .numbers .rect h1{
        font-size: 2rem;
    }

    .section-3{
        height: inherit;
        padding: 10vmin !important;
    }
    .section-3 .row h1{
        padding: 6vmin 4vmin;
    }
    .section-3 .row .col-md-6{
        text-align: center !important;
    }
    .section-3 .desktop i{
        font-size: 8vmin;
    }

    .section-4 .carousel-item{
       
    }

    .section-4 .team{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .section-4 .carousel-inner{
        width: 24rem;
    }

    .section-4 .team .col-md-4{
        padding-bottom: 10px;
    }
}



@media (max-width:425px){
    footer .row .col-md-2{
        margin-top: 10vmin;
    }

    .section-4 .team .col-md-4{
       align-items: center;
    }
}    


@media(max-width:320px){
    .section-4 .card{
        width: 18rem;
    }
    .section-4 .carousel-inner{
       
    }
}