@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

header,section{
    overflow-x:hidden;
}

:root{
    --Snigle-font:'Sniglet',cursive;
    --Rubik:'Rubik',cursive;
    --Patua:'Patua One',cursive;
    --Lobster:'Lobster',cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom,#dd2476,#ff512f);
    --light-gray:rgba(255,255,255,0.7)
}

header a{
    font-family: var(--Snigle-font);
    font-size: 0.9rem;
    color: whitesmoke;
}

header{
    background: #dd2476;
    background: var(--bggradient);
}

.dropdown-content{
    display: none;
    position: absolute;
    color: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}


header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding: 0.9em;
}


header .navbar-brand{
    padding-left: 8rem;
}

header .nav-link:hover{
    color: black;
}

header .row .col-md-5{
    
}

header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;

}

header .row .col-md-5 img{
   
}

header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1{
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .container .col-md-7 p{
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
}
header .container .col-md-7 button:hover{
    background-color: #000;
    color: white;
    outline: none;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
}



/*section-1*/


.section-1{

    padding:20vmin 0 ;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}


.section-1 .row .col-md-6 .overlap-img{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 9vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0,0,0,0.65);
}


/* section-2*/

.cover{
    width: 100%;
    height:55vmin;
    background: url('../assets/pexels-photo-452738.webp');
    background-position: -24rem -14rem;
    background-size: 150%;
    position: relative;
    
}

.cover .content{
    background: rgba(0,0,0,0.6);
    height:100%;
    width:100%;
    padding-top: 19vmin;
}

.cover .content >h1{
    font-family: var(--Patua);
    font-size: 6vmin;
    color: white;
}

.cover .content >p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}




.numbers .rect{
    position:relative;
    z-index: 1;
    background:white;
    width:17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);
    border-radius: .5em;
}

.numbers{
    margin-top: -15vmin;
}


.numbers .rect h1{
    font-size: 4rem;
    color: tomato;
}

.numbers .rect p{
    font-family: var(--Patua);
}



.purchase > h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}


.purchase >p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 5vmin;
}


.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}

.cards .div{
    padding: 0;
    margin: 0;
}

.cards .title{
    background: rgba(208,241,241,0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing{
    background: rgba(208,241,241,0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing > h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}


/*section-3*/   


.section-3{
    height: 70vmin;
    margin-top: 10vmin;
    background: var(--bggradient);
}


.section-3 .col-md-12>h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p{
    padding: 0.4rem;
    padding-bottom: 2rem;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop
{
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}


.section-3 .desktop h3{
    font-size: 4vmin;
}
.section-3 .desktop p{
    font-size: 2vmin;
}


/*section-4*/


.section-4 .container h1{
    font-size: 6vmin;
    padding-top: 10vmin;

}


.section-4 .team{
    padding: 10vmin 4vmin;
}


.section-4 .card{
    width: 22rem;
    margin-top: 0vmin;
}


.section-4 .card .card-text{
    padding: 0.5em;
}

.section-4 .card .card-body > a{
    font-size: 1.5em;
   

}


.section-4 .carousel-item{
  

}

.border-radius{
    border-radius: 340px;
    width: 60%;
}



/*footer*/

footer{
    background: rgba(0,0,0,0.815);
    overflow-x: hidden;
    padding: 8vmin 18vmin;
}

footer h4{
    padding-bottom: 3vmin;
}


footer p > span{
    color: #dd2476;
}

footer input{
    border: none !important;
}

footer input::placeholder{
    color: white !important;
}


footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
}


footer .column i{
    color:#dd2476;
}

footer .column i + i{
    padding: 0 0.5em;
}


#myBtn{
    
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover{
    background-color: #606060;
}
